@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    .foto-predio {
        background-image: url(imagens/predio-de-escritorios-moderno-opiniao-de-angulo-baixo-dos-arranha-ceus-na-cidade-de-singapura-predio-de-escritorios-moderno-opiniao-de-angulo-baixo-dos-arranha-ceus-na-cidade-de-singapura_231208-1463.avif);
        background-size: cover;
        background-position:right bottom;
        background-repeat: no-repeat;
        height: 460px;
        border-radius: 0px 10px 10px 0px;
        width: 280px;
        float: left;
}
main { 
    padding-left: 0px;
    text-align: center;
    background-color: white;
    height: 460px;
    border-radius: 10px 0px 10px 10px;
    width: 640px;  
}
} 